html, body {
    height: fill-available;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: #111111;
}

.container-fluid {
    position: relative;
    z-index: 1;
}

body {
    font-family: 'Oswald', sans-serif !important;
}

#home, #about, #projects, #contact {
    min-height: 80vh;  /* or 100vh to take full height */
    padding-top: 10vh; /* optional, to give some space at the top */
    padding-bottom: 10vh; /* optional, to give some space at the bottom */
}


#sidebar {
    position: fixed;
    width: auto;
    max-width:255px;
    height: auto;
    min-height: 50vh;
    font-size: 1.5rem;
    z-index: 9999;
}

.nav-link {
    background-color: transparent;
    border: none;
    color: white;
}

.nav-link:focus,
.nav-link:hover {
    background-color: transparent;
    color: white;
}


@media (max-width: 767px) {
    #sidebar {
      position: static;
      max-width: 100%;
      height: auto;
      margin-right: 0;
    }
  
    .nav-pills {
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
    }
  
    .nav-link {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px 15px;
      border: 1px solid white;
      border-radius: 5px;
    }
  
    .nav-link:focus,
    .nav-link:hover {
      background-color: white;
      color: #111111;
    }
  }
  


.hover-shadow:hover {
    transform: scale(1.05);
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img {
    height: 600px;   /* Adjust as needed */
    object-fit: cover;  /* This will ensure the images cover the entire dimension */
}


.fixed-card-body {
  height: 175px;  /* adjust this value according to your need */
  overflow: hidden;  /* prevents overflow of text */
}


.custom-card-link {
  color: inherit;  /* Reset link color to inherit from parent */
  text-decoration: none;  /* Remove the underline */
}

.custom-card-link:hover {
  color: inherit;  /* Ensure color remains unchanged on hover */
}

.custom-card-link .card-title,
.custom-card-link .card-text {
  color: inherit;  /* This ensures the text inside the card inherits its original color */
}